/* head */
*{
	box-sizing: border-box;
	margin: 0;
}

:root {
	--backgroundColor: #000;
	--textColor: #fff;
	--borderColor: #292929;
	--altBackgroundColor: #EEEEEE;
	--footerColor: #5c5e62;
}

@font-face {
	font-family: gothamLight;
	src: url(../Fonts/GothamSSm-Light_Web.woff2);
}

@font-face {
	font-family: gothamMedium;
	src: url(../Fonts/GothamSSm-Medium_Web.woff2);
}

@font-face {
	font-family: gothamBold;
	src: url(../Fonts/GothamSSm-Bold_Web.woff2);
}

@font-face {
	font-family: gothamBook;
	src: url(../Fonts/GothamSSm-Book_Web.woff2);
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: gothamBook;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

header img {
	width: 100px;
	filter: invert(100%);
}

header a:last-child {
	color: var(--textColor);
	text-decoration: none;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 8px 14px;
	backdrop-filter: blur(10px);
	font-size: 87%;
}
/* main */
/* modelS */
#modelS video {
	position: absolute;
	width: 100%;
	top: -76px;
	z-index: -1;
}

#modelS > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

h1 {
	font-size: 200%;
}

#modelS > div p, #modelS > div a:last-of-type {
	font-size: 80%;
	line-height: 20px;
	text-align: center;
}

#modelS > div > div, #powerInfo > div {
	display: flex;
	margin-top: 300px;
	justify-content: space-around;
	width: 100%;
}

#modelS > div > div h2, #powerInfo > div h2 {
	font-size: 120%;
}

#modelS > div > div p, #powerInfo > div p {
	font-size: 50%;
}

#modelS > div > div > div, #powerInfo > div > div {
	text-align: center;
}

#modelS > div a:first-of-type, #plaid > a, #design > a {
	color: var(--backgroundColor);
	text-decoration: none;
	background: var(--textColor);
	width: 80%;
	padding: 10px 0;
	border-radius: 5px;
	margin: 20px 0;
	text-align: center;
	font-size: 90%;
}

#modelS > div a:last-of-type, #furtherInfo a {
	color: var(--textColor);
}

/* interiorOfTheFuture */
#interiorOfTheFuture h2 {
	text-align: center;
	margin: 150px 0 50px;
}

#interiorOfTheFuture img {
	width: 100%;
}

/* slideshow */
#slideshow {
	margin: 100px 0;
	padding: 0;
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

#slideshow h2, #furtherInfo h2 {
	font-size: 85%;
	margin: 30px 15px;
}

#slideshow p, #furtherInfo p {
	margin: 0 15px;
	font-size: 85%;
	font-family: gothamLight;
}

#slideshow li, #furtherInfo li {
	list-style-type: none;
	scroll-snap-align: center;

}
#slideshow video, #furtherInfo video, #furtherInfo img, #compare img {
	width: 100vw;
}

/* furtherInfo */
#furtherInfo {
	padding: 0;
}

#furtherInfo li {
	padding-bottom: 50px;
}

/* powerInfo */
#powerInfo {
	height: fit-content;
	width: 100vw;
	overflow: hidden;
}

#powerInfo img {
	width: 100%;
	z-index: -1;
}

#powerInfo video {
	z-index: -1;

}

#powerInfo div {
	margin-top: -100px;
}

/* plaid */
#plaid, #design {
	background-color: var(--textColor);
	color: var(--backgroundColor);
	padding: 20px;
	display: flex;
	flex-direction: column;
}

#plaid h2, #plaid p, #powertrain p, #powertrainInfo p, #design h2, #design p, #compare div:first-of-type h3 {
	font-family: gothamLight;
}

#plaid h2, #design h2 {
	font-size: 100%;
}

#plaid h3, #design h3 {
	font-size: 150%;
	margin: 0 0 20px;
}

#plaid p > a, #design p > a {
	color: var(--backgroundColor);
}

#plaid > a, #design > a {
	border: solid 3px;
	width: 100%;
}

#plaid > a:last-of-type, #design > a:last-of-type {
	background-color: var(--altBackgroundColor);
	border: none;
}

#plaid img {
	margin: 0 -20px;
}

/* powertrain */
#powertrain, #powertrainInfo > ul {
	background-color: var(--altBackgroundColor);
	color: var(--backgroundColor);
	padding: 100px 20px 50px;
}

#powertrain h2 {
	margin-bottom: 20px;
}

/* powertrainInfo */
#powertrainInfo {
	width: 100vw;
	overflow: hidden;
}

#powertrainInfo img, #powertrainInfo video {
	width: 100%;
	margin-bottom: -50px;
}

#powertrainInfo > ul {
	display: flex;
	overflow-x: scroll;
}

#powertrainInfo > ul > li {
	flex-direction: column;
	min-width: 300px;
	border: solid var(--backgroundColor);
	border-width: 4px 0 0;
	padding: 10px;
	margin: 10px;
}

#powertrainInfo p, #powertrainInfo h2:first-of-type {
	font-size: 90% !important;
	margin: 10px 0;
}

#powertrainInfo h2:nth-last-child(-n + 6) {
	font-size: 120%;
}

#powertrainInfo > p:last-of-type {
	text-align: center;
	background: var(--altBackgroundColor);
	color: var(--backgroundColor);
	font-size: 80%;
	margin: -20px 0 20px;
}

/* design */
#design {
	filter: invert(1);
}

#design img {
	filter: invert(1);
	width: 100vw;
	margin: -20px;
}

/* autopilot */
.autopilot {
	color: var(--backgroundColor);
}

/* powertrainLast */
.powertrainLast {
	background-color: var(--textColor)!important;
}

/* compare */
#compare > div:first-of-type {
	display: flex;
	align-items: center;
	padding: 20px;
	width: 210px;
	justify-content: space-between;
}

#compare > div:last-child h2 {
	font-family: gothamBook;
	font-size: 90%;
}

#compare > div:last-child p, #compare > div:last-child a {
	font-family: gothamLight;
	font-size: 90%;
}

#compare > div:last-child {
	display: flex;
}

#compare > div:last-child > ul {
	padding: 20px;
	width: 50vw;
}

#compare > div:last-child > ul > li {
	padding: 10px 0 20px 20px;
}


span {
	display: inline-block;
	width: 40px;
	height: 1px;
	background-color: var(--footerColor);
}

#compare > div:last-child a {
	color: var(--textColor);
}

#compare li, #powertrainInfo li {
	list-style: none;
}

#compare > div:nth-child(3) {
	padding: 0 20px;
	display: flex;
}

#compare > div:nth-child(3) a {
	color: var(--textColor);
	text-decoration: none;
	border: solid 3px var(--textColor);
	width: 50%;
	padding: 10px 0;
	border-radius: 5px;
	margin: 10px 1px 0;
	text-align: center;
	font-size: 90%;
}

#compare > div:nth-child(3) a:last-of-type {
	color: var(--footerColor);
	border: solid 3px var(--footerColor);
}

/* estimate */
.estimate {
	text-align: center;
}

/* footer */
footer {
	background-color: var(--textColor);
	color: var(--footerColor);
	text-align: center;
	display: flex;
	flex-direction: column;
}

footer > p {
	font-size: 80%;
	padding: 20px;
}

footer a {
	color: var(--footerColor);
}

footer > a {
	padding: 10px;
	font-size: 75%;
	text-decoration: none;
}